body *{
    border: none !important;
}


.div-endereco{
    display: flex;
    border: 1px solid blue;
    margin: 30px 0;
    
}

.div-endereco input{
    margin-right:200px;
    border: none !important;
    border-radius: 0;
    font-size: 1.1em !important;;
}

.div-endereco input:nth-child(2){
    text-transform: capitalize;
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.div-endereco input:nth-child(4){
    width:100px;
    text-align: center;
    padding: 0 !important;
    font-size: 1.1em !important;;
    padding-top: 15px !important;
    margin-left: 20px !important;
}

.div-endereco input:nth-child(4):focus{
}

.div-endereco label{
    align-self: center;
    padding-top: 15px;
    border: none !important;
}

.div-endereco label:nth-child(3){
    /* margin-right: 100px; */
}
