/* menu lateral */
.menu-lateral{
    display: flex;
    height:88.7vh;
    width: 17.7vw !important;
    justify-content: center;
    background-color: #820E0E;
}

.menu-botao{
    /* margin-top:10px; */
    width: 100%;
    height:88.7vh;
}

.menu-botao >li {

    display: flex;
    border-bottom:0.2px solid #ffffffad;
    list-style:none;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content:center;
    /* padding: 25%; */
}
.menu-botao > li:hover{
    color: #b9060b;
    background-color: #fff;
}


.menu-botao > li >a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    letter-spacing:2px;
}

.menu-lateral{
    display: flex;
    height: 100%;
    width: 200px;
    justify-content: center;
    background-color: #820E0E;
}

.menu-botao{
    width: 100%;
}

.menu-botao >li {
    display: flex;
    border-bottom:0.2px solid #cac8c8;
    list-style:none;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content:center;
}
.menu-botao > li:nth-child(1):hover{
    
    background-color: #fff;
}
.menu-botao> li:nth-child(2):hover,.menu-botao> li:nth-child(3):hover {
    color: #b9060b;
    background-color: #fff;
}
.menu-botao > li > a:hover{
    color: #B90606;
}

.menu-botao > li >a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    letter-spacing:2px;
}

/* main */

.main-menu-lateral{
    display:flex;
}

.sec-conteudo{
    width: 80%;
    color: #660000;
}
