h1 {
    margin-top: 55px;
    margin-left: 30px;
    color: brown;
}

input,
select {
    font-size: 1em;
    text-align: center;
    border: rgb(151, 151, 151) 1px solid;
    border-radius: 2px;
    height: 44px;
    width: 293px;
}

input {
    border: none;
    border-bottom: 1px solid;
}

select {
    height: 100px;
    margin-top: 0;
}

label {
    font-weight: 500;
}

.categoria-principal,
.categoria-segundaria,
.div-tamanho {
    /* width: 100%; */
    height: auto;
    display: flex;
    align-items: center;
    border: 1px solid;
}

.categoria-principal label {
    /* margin-right: 124px; */
    margin-right: 51px;
}

.categoria-principal{
    width: 100%;
    padding-left: 119px;
}

.div-tamanho label {
    margin-left: 82px;
    margin-right: 120px;
}

.categoria-principal input {
    /* align-self: center; */
    margin:0;
    /* margin-right: 324px; */
    /* border: 1px solid; */
}

.categoria-segundaria input:last-child {
    align-self: center;
    /* margin-right: 124px; */
}

.categoria-segundaria input,
.div-tamanho input {
    margin-right: 56px;
}

.categoria-principal {
    margin-top: 26px;
}

.categoria-segundaria {
    padding-right: 17px;
    margin-top: 22px;
}


.div-tamanho {
    margin-top: 113px;
}

.div-tamanho label {}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 70vh;
    align-items: center;
    margin-top: 51px;
}


.form-button {
    align-items: flex-end !important;
    /* margin-top: 43px; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
}

.button {
    border: none;
    border-radius: 5px;
    width: 146px;
    display: flex;
    justify-content: center;
    padding-top: 6.5px;
    align-self: center;
    text-align: center;
    font-size: 1em;
    background-color: #9F0202;
    height: 39px;
    color: #fff;
    align-self: flex-end;
    margin-bottom: 5px;
}
.categoria-segundaria{
    margin-top: 94px;
    display: flex;
    flex-direction: row;
    padding-left: 109px;
    width: 100%;
    /* border: 0.5px solid; */
}

.categoria-segundaria label{
    /* border: 1px solid; */
    display: flex;
    align-self: start;
    margin-top:18px;

}
.sub-segundaria{
    /* border: 0.5px solid; */
    margin-left: 43px;
}

.sub-segundaria input{
    margin-left: 34px;
}

.detalhes-segundaria{
    margin-top: 19px;
    border: 0.5px solid;
    padding-top:5px;
    /* background-color: #9F0202; */
    width: 603px;
    height: 193px;
}

.detalhes-titles{
    width: 100%;
    height: 21px;
    margin-top: 16px;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding-left: 41px;
}
.detalhes-titles h3:nth-child(2){
    margin-left: 143px;
}

.detalhes-inputs{
    /* height: 100%;
    width: 603px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    /* background-color: blue; */
    margin-top: 26px;
}

.detalhes-inputs input{
    margin: 0;
    width: 263px;
}

.btn-segundario{
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-self: center;
}

.btn-segundario img{
    background-color: none;
    width: 30px;
    height: 30px;
}