main {position: relative; z-index: 10;}
.banner {background: url("../../../public/img/conteudo/home/banner.jpeg") center; background-size: cover; padding: 82px 0 179px; position: relative; z-index: -2;}
.banner .filter {position: absolute; z-index: -1; top:0; left: 0; height: 100%; width: 100%; background-color: #00000061;}
.banner .conteudo {position: relative; z-index: 2;}
.banner .titulo-pd {font: 46px / 47px "ralewayblack"; color: #eeb531; width: 600px;}
.banner .titulo-pd span{color: #ffffff;}
.banner .texto {font: 500 25px / 35px Montserrat; color: #ffffff; width: 600px; margin: 20px 0 0;}

.banner .btn {margin: 20px 0 0; display: inline-block;}
.banner .btn .link {padding: 15px; background-color: #eeb531; display: inline-block; border-radius: 3px;  transition: .5s;}
.banner .btn:hover .link {background-color: #ffb504; transform: scale(1.1); cursor: pointer;}
.banner .btn .link {font: 700 20px / 20px Montserrat; color: #fff;}