/* reset */
*{margin:0; padding: 0; box-sizing: border-box;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}

/* header */
.menu{
    width: 100%;
    height: 80px;
    background-color: #DC2C2C;
}

.logo{
    margin: -8px 0 0 20px;
    width: 200px;
}


/* main */

main{
    background-color: #F0EFEF;
    height: 100%;
    width: 100%;
    padding-top: 50px;
}

h1{
    font-size: 2em;
    margin: 20px 40px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 100px;
    letter-spacing: 2px;
}

.formulario{
    background-color: #FFFF;
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 40px ;
}

.form{
    display: flex;
    flex-direction: column;
}

.body-conteudo{
    background-color: #F0EFEF;
    width: 100%;
    height: 100%;
}

.input{
    height: 50px;
    border-radius: 6px;
    border:#c7bcbc 1px solid;   
    font-size: 1em;
    margin: 10px;
}

.arquivo{
    padding: 100px;
    /* background-color: #F0EFEF;   */

}

.input{
    padding: 5px 5px;
    width: 300px;
    height: 50px;
    border-radius: 6px;
    border:#c7bcbc 1px solid;
    font-size: 1em;
    margin: 10px;
}

/* alinhando inputs */

.input-file{
    display: flex;
    justify-content: end;
    z-index: 0;
}

.input-nome{
   padding-left: 10px;
   text-align: justify;
   width: 400px;
}

.input-valor{
    appearance: none;
    width: 150px;
    margin-right: 60px;
    text-align: center;
}

.input-valor::-webkit-inner-spin-button,.input-valor::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
 


.cifrao{
    position: absolute;
    display: block; 
    z-index: 9; 
    top:44.5px;
    left:25px
}

.input-descricao{
    margin-top: 50px;
    font-weight: bold;
    width: auto;
}



.descricao{
    margin-top: 40px;
    padding-right: 140px;
    padding-bottom:250px;
    padding-left: 10px;
    padding-top: 10px;  
    font-size: 1.2em;
    overflow-wrap: break-word;
    resize: none;
    border:#c7bcbc 1px solid;
    border-radius: 6px;
    
}



.parte-1{
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    justify-content: space-between;
    
    
}

.parte-3{
    display: flex;
    font-weight: bold;
    margin-top: -80px;
}

.parte-3 > div {
    position: relative;
}
.input-file-custom{
    display: none;
}
.input-categoria{
    margin-top: 50px;
}

.arquivo{
    
    padding: 180px 0;
    border-radius: 6px;
    border:#c7bcbc 1px solid;
    margin-left: 0;
    display: inline-block;
    cursor: pointer;
    width: 380px;
    height: 100px;
    text-align: center;
    
}

.input-botao{
    display: flex;
    justify-content: end;
}

.botao{
    background-color: #DC2C2C;
    padding: 20px 30px;
    color: #FFF;
    border:#c7bcbc 1px solid;
    border-radius: 6px;
    font-size: 1em;
    margin-top: 20px;
}

.botao:hover{
    cursor: pointer;
    background: #e72929cb;
}


.foto_img{

    width: 100%;
    height: 360px;
    margin-top: -181px;
    border-radius: 6px;

}