/* menu lateral */
.menu-lateral{
    display: flex;
    height: 100%;
    width: 200px;
    justify-content: center;
    background-color: #B90606;
}

.menu-botao{
    /* margin-top:10px; */
    width: 100%;
    height:100vh;
}

.menu-botao >li {

    display: flex;
    border-bottom:0.2px solid #ffffffad;
    list-style:none;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content:center;
    /* padding: 25%; */
}
.menu-botao > li:nth-child(1):hover{
    box-shadow: 0 20px 40px rgb(0, 0, 0);
    background-color: #fff;
}
.menu-botao> li:nth-child(2):hover,.menu-botao> li:nth-child(3):hover {
    color: #b9060b;
    background-color: #fff;
    box-shadow: 0 0 50px black;
}
.menu-botao > li > a:hover{
    color: #B90606;
}

.menu-botao > li >a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    letter-spacing:2px;
}

.menu-lateral{
    display: flex;
    height: 100%;
    width: 200px;
    justify-content: center;
    background-color: #B90606;
}

.menu-botao{
    width: 100%;
}

.menu-botao >li {
    display: flex;
    border-bottom:0.2px solid #ffffffad;
    list-style:none;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content:center;
}
.menu-botao > li:nth-child(1):hover{
    box-shadow: 0 20px 40px rgb(0, 0, 0);
    background-color: #fff;
}
.menu-botao> li:nth-child(2):hover,.menu-botao> li:nth-child(3):hover {
    color: #b9060b;
    background-color: #fff;
    box-shadow: 0 0 50px black;
}
.menu-botao > li > a:hover{
    color: #B90606;
}

.menu-botao > li >a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight:600;
    letter-spacing:2px;
}


/* main */

.main{
    display:flex;
}

.sec-conteudo{
    width: 80%;
    color: #660000;
}

.sec-conteudo>h1{
    font-size:2em;
    margin-left:51px ;
    margin-top: 20px;
}

.sec-conteudo>h2{
    margin-left:51px;
    margin-top:53px;
}

.sec-conteudo>.div-formulario{
    display: flex;
    flex-direction: column;
    color: #000;
}

.sec-conteudo>.div-formulario >form{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000;
    padding-top: 33px;
    padding-left:60px;
}
.div-formulario form{
    position: relative;
}

.div-formulario form label{
    display: flex;
    align-items: end;
    border:1px solid red;
    padding: 0 0 0 -100px 0 !important;
    /* margin-top: 100px; */
    /* position: absolute; */
    margin-top: 10px;
}
.div-formulario form input{
    border:1px solid red !important;
    /* outline: none; */
    font-size: 1em;
    padding-bottom: 15px;
    /* border: none !important; */
    border-bottom: 1px solid rgb(19, 19, 19) !important;
}


.div-formulario form input:focus{
    outline: none;
    font-size: 1.2em;
    border-bottom: 1px solid rgb(240, 38, 38) !important;
}


.sec-conteudo>.div-formulario >form >input, .sec-conteudo>.div-formulario >form >select,.linha-1>.titulo-input>select,.linha-2>.titulo-input>select,input{
    border-radius:5px;
    position: relative;
    width: 500px;
    height: 50px;
    border:1px solid rgba(0, 0, 0, 0.534);
}

.linha-1>.titulo-input>select,.linha-2>.titulo-input>select,input{
    display:block;
    margin:28px 0 0 0 ;
}

/* segundo forms */

.sec-conteudo>.div-formulario2{
    flex-direction: column;
    color: #000;
}

.sec-conteudo>.div-formulario2 >form,.linha-1>.titulo-input> select,.linha-2>.titulo-input>select,input{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #000;
    padding-top: 33px;
    padding-left:60px;
}


.sec-conteudo>.div-formulario2 >form >input, .sec-conteudo>.div-formulario2 >form >select,.linha-1>.titulo-input>select,.linha-2>.titulo-input>select,input{
    border-radius:5px;
    width: 400px;
    height: 50px;
    position:relative;
}

.sec-conteudo>.div-formulario2 >form >label,.linha-1>.titulo-input>select,.linha-2>select,input{
    display:block;
    margin:28px 0 0 0 ;
    position:relative;
}
.linha-1{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.linha-1>.titulo-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linha-1>.titulo-input>select{
    width: 300px;
}
.linha-1>.titulo-input>label{
    display: flex;
    text-align: center;
    justify-content: center;

}
.linha-1>label{
    display: flex;
    flex-direction: row;
}

.linha-2{
    margin-top: 100px;
}
.linha-2>.titulo-input:nth-child(1){
    margin-bottom: 30px;
}

/* nota fiscal */

.card-ntf{
    margin-top:-180px ;
    margin-left: 10%;
    display: flex;
    justify-content: end;

}

.nota-fiscal{
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(168, 168, 168);
    height: 691px;
    width: 503px;
    padding: 10px;
    padding-bottom: 50px;
}

.ntf-titulo{
    width: 100%;
    border: rgb(168, 168, 168) 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 30px;
}
.ntf-titulo>h1{
    color:#660000;
    display: flex;
    width: 300px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border: rgb(168, 168, 168) 1px solid;
    text-align:center ;
}
.ntf-titulo>p{
    margin-right:50px ;
}

.ntf-conteudo{
    border-radius: 5px;
    margin-bottom:100px;
    border:1px solid rgb(131, 131, 131);
    background-color: #FFFBDC;
    height:85%;
    width: 100%;
}

.botao{
    margin-top: 30px;
    margin-left:20px ;
    width: 100%;
    padding: 20px ;
    color: rgb(0, 63, 0);
    font-size: 1.3em;
    background-color: #fff;
    box-shadow: 0 0 10px greenyellow;
    border: .2px solid rgb(93, 255, 93);
    border-radius:6px;
}
.botao:hover{
    background-color: rgb(158, 248, 158);
    color: rgb(255, 255, 255);
    cursor:pointer;
    border:none;
}